$velvet:	#ED1A2D;
$marine:	#00477F;
$water:		#009DDB;
$blue:		#13679c;
$baby-blue: #D4EFFC;
$chestnut:	#3E3739;
$concrete:	#6D6E71;
$silver:	#EBEBEC;
$snow:		#F5F5F6;
$pearl: 	#FFFFFF;
$coal:		#231F20;