/* -------------------------
 *          FOOTER
 -------------------------- */
footer {
    background-color: $pearl;
    border-top: em(2) solid $velvet;
    display: none;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: em(33);
            width: auto;
        }
    }
}

@media (min-width: em(576)) {
    footer {
        display: block;
    }
}