/* -------------------------
 *         BUTTONS
 -------------------------- */ 

.btn {
    border: 0;
    border-radius: em(4);

    cursor: pointer;
    font-size: em(16);
    font-weight: 600;
    line-height: em(30);
    padding: em(10) em(20);
    overflow: hidden;

    transition: color .3s cubic-bezier(.39, .575, .565, 1), background .3s cubic-bezier(.39, .575, .565, 1);

    .btn__icon {
        position: relative;
        display: inline-block;
        top: -em(2);
        line-height: em(12);
        margin-left: em(20);
        color: #fff;
        font-size: em(12);
    }

    &--white {
        background-color: $pearl;
        color: $marine;
    }

	&--grey {
		background-color: $silver;
	}

    &--marine {
        background-color: $marine;
        color: $pearl;
        margin-top: em(24);
        &:hover {
        	background-color: $baby-blue;
        	color: $marine;
        }
    }
}