.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
        
        &--filter {
            align-items: center;
        }   

        &--overview {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .row {
        grid-template-columns: repeat(2, 1fr);
        &--overview {
            grid-template-columns: 1fr 2fr;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        height: auto;
        max-width: 1140px;

        .row {
            // display: flex;
            // justify-content: space-between;
            // flex-wrap: wrap;

            grid-template-columns: repeat(3, 1fr);

            &--filter {
                grid-template-columns: repeat(6, 1fr);
            }

            &--surprise {
                grid-template-columns: repeat(2, 1fr);
            }

            &--overview {
                grid-template-columns: 1fr 3fr;
            }
        }
    }
}