@import 'normalize';
@import 'buttons';
@import 'cards';
@import 'form';

.recommended {
    background-color: $marine;
    padding: em(48) 0;
    position: relative;
    h2 {
        color: $pearl;
    }
}